{% extends 'base.html' %}

{% block head %}
<title>Compare {{ player.player_name }}</title>
{% endblock %}

{% block body %}

<div class="comparison-container">
    <div class="this-player">
        <a style="color: #006F00;" href="/player?id={{ player.player_id }}">
            <h1 style="color: #006F00;" class="center">{{
                player.player_name }}</h1>
        </a>
        <h1 style="color: #006F00;" class="center">{{ season }}</h1>
    </div>
    <div class="comparison">
        <table>
            {% for i in range(selected_headers|length) %}
            <tr>
                {% if selected_headers[i] == "FG_PCT" %}
                <th>FG%</th>
                {% elif selected_headers[i] == "FG3_PCT" %}
                <th>3P%</th>
                {% elif selected_headers[i][:3] == "FG3" %}
                <th>3P{{ selected_headers[i][3:] }}</th>
                {% else %}
                <th>{{ selected_headers[i] }}</th>
                {% endif %}
                <td>{{ stats[i] | default("--", true) }}</td>
                <td>{{ other_stats[i] | default("--", true) }}</td>
            </tr>
            {% endfor %}
        </table>
        <img src="data:image/png;base64,{{ radar_chart }}" />
    </div>
    <div class="other-player">
        <a style="color: #004480;" href="/player?id={{ other_player.player_id }}">
            <h1 style="color: #004480;" class="center">{{
                other_player.player_name }}</h1>
        </a>
        <h1 style="color: #004480;" class="center">{{ other_season }}</h1>
    </div>
</div>

{% endblock %}