{% extends 'base.html' %}

{% block head %}
<title>{{ player.player_name }}</title>
{% endblock %}

{% block body %}

<div class="info-container" id="info">
    <div class="info">


        <img src="../static/images/{{ player.player_id }}.png"
            onerror="this.onerror=null; this.src='../static/images/{{ player.player_id }}.jpg'; this.onerror=function(){this.style.display='none';}"
            alt="Picture of {{ player.player_name }}">


        <div class="info-boxes">
            {% for information in info %}
            <pre class="info-text"> {{ information | default("--" , true) }} </pre>
            {% endfor %}
        </div>



    </div>
</div>
<br>
<div class="compare">
    <a class="button" href="/compare?id={{ player.player_id }}&season=all">Compare</a>
</div>
<br>


<div style="overflow-x:auto;">
    <table>
        <tr>
            <th>SEASON</th>
            <th>TEAM</th>
            <th>AGE</th>
            <th>GP</th>
            <th>MP</th>
            <th>PTS</th>
            <th>AST</th>
            <th>REB</th>
            <th>BLK</th>
            <th>STL</th>
            <th>TOV</th>
            <th>FGA</th>
            <th>FGM</th>
            <th>FG%</th>
            <th>3PA</th>
            <th>3PM</th>
            <th>3P%</th>
            <th>FTA</th>
            <th>FTM</th>
            <th>FT%</th>
        </tr>
        {% for season in seasons %}
        <tr>
            <td class="season">{{ season |default("--", true) }}</td>
            <td>{{ stats[season]["TEAM_ABBREVIATION"] | default("--", true) }}</td>
            <td>{{ stats[season]["PLAYER_AGE"] | default("--", true) }}</td>
            <td>{{ stats[season]["GP"] | default("--", true) }}</td>
            <td>{{ stats[season]["MIN"] | default("--", true) }}</td>
            <td>{{ stats[season]["PTS"] | default("--", true) }}</td>
            <td>{{ stats[season]["AST"] | default("--", true) }}</td>
            <td>{{ stats[season]["REB"] | default("--", true) }}</td>
            <td>{{ stats[season]["BLK"] | default("--", true) }}</td>
            <td>{{ stats[season]["STL"] | default("--", true) }}</td>
            <td>{{ stats[season]["TOV"] | default("--", true) }}</td>
            <td>{{ stats[season]["FGA"] | default("--", true) }}</td>
            <td>{{ stats[season]["FGM"] | default("--", true) }}</td>
            <td>{{ stats[season]["FG_PCT"] | default("--", true) }}%</td>
            <td>{{ stats[season]["FG3A"] | default("--", true) }}</td>
            <td>{{ stats[season]["FG3M"] | default("--", true) }}</td>
            <td>{{ stats[season]["FG3_PCT"] | default("--", true) }}%</td>
            <td>{{ stats[season]["FTA"] | default("--", true) }}</td>
            <td>{{ stats[season]["FTM"] | default("--", true) }}</td>
            <td>{{ stats[season]["FT_PCT"] | default("--", true) }}%</td>
        </tr>
        {% endfor %}
    </table>
</div>
<script src="../static/script.js"></script>
{% endblock %}